<ion-header primary>
  <ion-navbar color="primary">
    <ion-title>
      Password Reset
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        <span primary showWhen="ios">Cancel</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list *ngIf="!showSubmitResetPasswordForm">
		<form #passwordResetForm="ngForm" (ngSubmit)="submitPasswordResetForm(passwordResetForm)" novalidate>
			<div ngControlGroup="passwordResetData">
				<ion-item>
					<ion-label stacked>Email</ion-label>
					<ion-input type="email" placeholder="me@apoc.com" name="email" ngControl="email" [(ngModel)]="passwordResetData.email" required></ion-input>
				</ion-item>
				<ion-item>
					<div class="centered">
						<button ion-button outline small type="submit" >
							Request Password Reset Token
						</button>
					</div>
				</ion-item>
			</div>
		</form>
		<ion-item>
			<div class="centered">
				<button ion-button secondary outline small (click)="togglePasswordResetForms()" >
					I already have a token.
				</button>
			</div>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="showSubmitResetPasswordForm">
		<form #reqeustPasswordResetWithTokenForm="ngForm" (ngSubmit)="requestNewPasswordWithToken(reqeustPasswordResetWithTokenForm)" novalidate>
			<div ngControlGroup="newPasswordWithToken">
				<ion-item>
					<ion-label stacked>Email</ion-label>
					<ion-input type="email" placeholder="me@apoc.com" name="email" ngControl="email" [(ngModel)]="passwordResetData.email" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>New Password</ion-label>
					<ion-input type="password" placeholder="*****" name="password"  ngControl="password" [(ngModel)]="passwordResetData.password" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Token</ion-label>
					<ion-input type="text" placeholder="*****" name="token"  ngControl="token" [(ngModel)]="passwordResetData.token" required></ion-input>
				</ion-item>
				<ion-item>
					<div class="centered">
						<button ion-button outline small type="submit" >
							Reset Password
						</button>
					</div>
				</ion-item>
			</div>
		</form>
		<ion-item>
			<div class="centered">
				<button ion-button secondary outline small (click)="togglePasswordResetForms()" >
					Request New Token
				</button>
			</div>
		</ion-item>

	</ion-list>
</ion-content>
