page-recommendations-difficulty {
  .theme-problem-header{
		background: rgba(255, 98, 99, 0.9);
		color: white !important;
		p{
			color: white;
		}
		h2{
			color: white;
		}
	}
	.theme-problem-footer{
		background: rgba(33, 33, 33,0.9);
		color: white;
	}
}
